@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,900;1,100&display=swap");

body {
  font-family: Roboto, sans-serif;
  margin: 0;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

a:link,
a:visited,
a:hover,
a:active {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}
img {
  border-radius: 6px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1f2937;
}

.header .left-items {
  display: flex;
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
  padding-left: 200px;
}

.header .right-items {
  display: flex;
  padding-right: 200px;
}

.content1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #1f2937;
  padding: 70px 75px;
  gap: 20px;
}

button {
  font-size: 16px;
  font-weight: bolder;
  border-radius: 6px;
  padding: 5px 30px;
}
.content1 .signup {
  background-color: #3882f6;
  border: 3px solid #3882f6;
  color: #e5e7eb;
}

.content1 .left-items,
.content1 .right-items {
  max-width: 500px;
}

.hero.secondary {
  padding: 10px 0px;
}
.hero.main {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bold;
}
.hero.secondary {
  color: #e5e7eb;
  font-size: 18px;
}
.right-items img {
  max-width: 500px;
}

.content2 {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  margin: 70px 50px;
}
.sectionhead {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
}

.tilearray {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.infotile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 300px;
  gap: 10px;
  padding: 0px 20px;
}
.infotile img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.content3 {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 150px 250px;
}
.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 100px;
}
.attribution {
  align-self: flex-end;
  font-weight: bold;
  font-size: 18px;
}

.content4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 200px;
}
.quasimodal {
  display: flex;
  background-color: #3882f6;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 35px 125px;
  gap: 80px;
  border-radius: 6px;
}
.quasimodal .left-items {
  display: flex;
  flex-direction: column;
}

.quasimodal-bold {
  font-size: 24px;
  font-weight: 900;
}
.quasimodal-text {
  font-size: 18px;
}
.quasimodal .right-items {
  flex-shrink: 0;
}

.content4 .signup {
  border: 2px solid white;
  background-color: #3882f6;
  color: white;
}
.footer {
  font-size: 18px;
  color: #e5e7eb;
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
}
/*comment*/
